<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div >
          <h1 class="display-4 px-4">About us </h1>
          <p class="lead px-4">Komek is a Kazakhstani non-profit fundraising platform that allows people to raise money for various events, ranging from life events such as holidays and proms, to difficult circumstances such as accidents and illnesses.
            The main idea is a transparent system of donations of money for those in need for various purposes, such as a startup, treatment of animals, diseases, etc. With this project, users (those in need) will be able to create an ad describing their problem,
            the purpose of the collection and the amount. Also, they will need to attach supporting documents in order to minimize the actions of fraudsters. As soon as the ad is created, users can start donating money and leave comments / suggestions (only for those who donated money). The ad link can be copied and shared for faster and greater distribution. Also, the authors of the ad and any users will be able
            to see the process of collecting money: how much has been collected and how much remains to be collected.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white py-3">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="font-weight-light">Our Mission
          </h2>
          <p class="font-italic text-muted mb-4">Our mission is to help and encourage other people to help raise money. Our website is designed for different people with different goals, but with the same mission. We help people with various diseases, animals, as well as startups who have a breakthrough idea, but do not have the money to implement the idea. Our goal is to simplify the stages of donating money for those who are ready and willing to help others.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://raw.githubusercontent.com/AidaS00/komek/c4feade9710478d728d4f660b71176a753f3bef3/src/assets/mission.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://raw.githubusercontent.com/AidaS00/komek/c4feade9710478d728d4f660b71176a753f3bef3/src/assets/team.jpg" alt="" height="300px" weight="600px" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6">
          <h2 class="font-weight-light">Our Team</h2>
          <p class="font-italic text-muted mb-4">Our team consists of three students who realized their idea of creating a website in real life. The desire to help people was the main goal of our alliance. We are developers, designers, support specialists.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
  
        </div>
      </div>
  
      <div class="row text-center">
        <!— Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
  
            src="https://raw.githubusercontent.com/AidaS00/komek/c4feade9710478d728d4f660b71176a753f3bef3/src/assets/Daryn.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nurlan Daryn</h5><span class="small text-uppercase text-muted">CEO - Founder - Developer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-telegram"></i></a></li>
            </ul>
          </div>
        </div>
        <!— End-->
        <!— Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://raw.githubusercontent.com/AidaS00/komek/c4feade9710478d728d4f660b71176a753f3bef3/src/assets/Alua.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Zhakiyeva Alua</h5><span class="small text-uppercase text-muted">CEO - Founder - Developer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-telegram"></i></a></li>
            </ul>
          </div>
        </div>
        <!— End-->
  
        <!— Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://raw.githubusercontent.com/AidaS00/komek/c4feade9710478d728d4f660b71176a753f3bef3/src/assets/Aida.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Sadvakasova Aida</h5><span class="small text-uppercase text-muted">CEO - Founder - Designer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-telegram"></i></a></li>
            </ul>
          </div>
        </div>
        <!— End-->
  
  
  
  
  
      </div>
    </div>
  </div>