<div style="height: 100%">
    <div class="centered">
      <div class="header">
        <div class="headerComp"><h3>Registered Users</h3></div>
        <div class="headerComp" style="float: right; margin-right: 20px">
            <a [routerLink]="['/createuser']" class="badge badge-primary">Add New User</a>
        </div>
      </div>
      <div class="container">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td><a href="/user/{{user._id}}">{{user.email}}</a></td>
                <td>
                    <a type="button" (click)="deleteUser(user._id)" class="badge badge-danger mr-2">delete</a>
                    <a type="button" href="editpage/{{user._id}}" class="badge badge-success">edit</a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  