<h3 class="text mt-5">Dashboard</h3>
<div class="row mt-5 mb-5">
    <div class="col mb-3">
        <div class="card shadow-lg rounded justify-content-center align-items-center" style="width: 10rem; background-color: #02A95C;">
            <div class="card-body" style="height: 10rem;">
              <h5 class="my-5" style="color: white;"><b>Users</b></h5>
            </div>
            <a routerLink="/users" class="stretched-link"></a>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card shadow-lg rounded justify-content-center align-items-center" style="width: 10rem; background-color: #0296a9;">
            <div class="card-body" style="height: 10rem;">
              <h5 class="my-5" style="color: white;"><b>Fundraisings</b></h5>
            </div>
            <a href="fundraisings" class="stretched-link"></a>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card shadow-lg rounded justify-content-center align-items-center" style="width: 10rem; background-color: #d6b018;">
            <div class="card-body" style="height: 10rem;">
              <h5 class="my-5" style="color: white;"><b>Donations</b></h5>
            </div>
            <a routerLink="/donations" class="stretched-link"></a>
        </div>
     </div>   
    <div class="col mb-3">
        <div class="card shadow-lg rounded justify-content-center align-items-center" style="width: 10rem; background-color: #e3532b;">
            <div class="card-body" style="height: 10rem;">
              <h5 class="my-5" style="color: white;"><b>Categories</b></h5>
            </div>
            <a routerLink="/categories" class="stretched-link"></a>
        </div>
    </div>
</div>
